.pos
{
    background-color: white;
    border: 1px solid black;
    padding :30px;
    margin:10px 200px 20px 200px;
}
header
{
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)) ,url(../../assets/pictures/indexPage.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
}
input.ng-touched.ng-invalid
{
    border:1px solid red;
}
input.ng-touched.ng-valid
{
    border:1px solid green;
}